<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body bgcolor='#C0AC90' >

    <header bgcolor="#222222" >
        <div style="background-color:cyan; color:white;">
        <h2 align='center'>
                <span style="color:black">Censoring the News Headlines for kids</span></h2>
        </div>
    </header>
        <div style="background-color:pink; color:white;" class="ml-container">

        <form action="{{ url_for('scrape')}}" method="POST">
        <p>Enter the url to scrape</p>
        <textarea name="message" rows="2" cols="50"></textarea>
        <br/>

        <input type="submit" class="btn-info" value="predict">

        </form>
    </div>

    <div style="background-color:grey; color:white;" class="ml-container">

        <form action="{{ url_for('predict')}}" method="POST">
        <p>Enter the headline here</p>
        <textarea name="message" rows="10" cols="50"></textarea>
        <br/>

        <input type="submit" class="btn-info" value="predict">

        </form>
    </div>

</body>
</html>