<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">-->
    
</head>
<body class="home">

    <header  >
            <div id="header" class="section">
                <h1 align="center"><span> Censoring the News for Kids</span></h1>
        </div>
	<div id="header" class="section">
		<h2 align="center"><span> This app allows you to censor news for the kids!You can enter the URL of a news paper and the news which are kid friendly are filtered and displayed </span></h2>
		
        </div>
    </header>
        <div class="ml-container">

        <form action="{{ url_for('scrape')}}" method="POST">
        <p>Enter the url to scrape</p>
            <h4>(Please note that currently it works for only this url:<span style="color:red">https://inshorts.com/en/read</span>)</h4>
        <textarea name="message" placeholder="https://inshorts.com/en/read" rows="2" cols="50"></textarea>
        <br/>

        <input type="submit" class="btn-info" value="Scrape and Censor">

        </form>
    </div>

    <div class="ml-container">

        <form action="{{ url_for('predict')}}" method="POST">
        <p>Enter the headline here</p>
        <textarea name="message" placeholder="e.g. 10 people was killed in riots in Lucknow"rows="10" cols="50"></textarea>
        <br/>

        <input type="submit" class="btn-info" value="Censor">

        </form>
    </div>

</body>
</html>
